# Data Journalism: Recap Data wrangling

Penny Sheets and Damian Trilling

In this recap notebook, we exercise with data wrangling techniques.

Also have a look at this Cheat Sheet:
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

**To follow this example, you need to `pip install tabula-py` first!**


Also, have a look at this PDF: http://www.ametsoc.net/sotc2017/StateoftheClimate2017_lowres.pdf
We will try to get the table from page 113 ( Global tropical cyclone counts).

# !!! This is an example of a table that is *really* messed up, but short, so you might just type it over instead. But that's a great way to demonstrate the techniques.

In [ ]:
import tabula
import pandas as pd

In [ ]:
# turns out that what is called p. 113 is actually page 163 (b/c of front matter of the book in different numbering)
df = tabula.read_pdf('http://www.ametsoc.net/sotc2017/StateoftheClimate2017_lowres.pdf',  
                     multiple_tables=False, pages=133)

In [ ]:
df

In [ ]:
# Let's first get only the rows that really contain data
datarows = df.iloc[1:8]
datarows

In [ ]:
# BUT, let's fix the index so that it starts with 0 (important for some stuff later ('concatenating'))
datarows.index=range(7)
datarows

**?What is right already, and what needs to be fixed?**

In [ ]:
datarows.iloc[:,0]   # all rows, column 0

In [ ]:
# We split the cells on their spaces and retain only the last four values
datarows.iloc[:,0].map(lambda x: x.split()[-4:])

In [ ]:
# ... let's turn this into an own dataframe (instead of just showing it) [for this, we first make it a list of lists]
tmpdf1 = pd.DataFrame(datarows.iloc[:,0].map(lambda x: x.split()[-4:]).to_list())
tmpdf1

In [ ]:
# Let's give it better columnnames:
tmpdf1.columns = ['Tropical Depressions', 'Tropical Storms', 'HurricanTropicalCyclon', 'Major HurricanTropicalCyclon']
tmpdf1

In [ ]:
# Let's concatenate (=glue together) with our data frame from above
newdf = pd.concat([datarows,tmpdf1], axis=1)
newdf

In [ ]:
# Let's fix the first names
oldcolumnnames = newdf.columns.to_list()
oldcolumnnames[0] = 'Basin'
oldcolumnnames[1] = 'SS Cat5'
oldcolumnnames[2] = 'ACE'
newdf.columns = oldcolumnnames

In [ ]:
newdf

In [ ]:
# fix Basin name - same as above, but we now retain everything UNTIl the last 4 elements, 
# and then join the first elements with a space again
newdf['Basin'] = newdf['Basin'].map(lambda x: " ".join(x.split()[:-4]))

In [ ]:
newdf

In [ ]:
# Wanna reorder?
cols = newdf.columns.to_list()
neworder = [cols[0], cols[3], cols[4], cols[5], cols[6], cols[1], cols[2]]
reconstructed_table = newdf[neworder]

In [ ]:
reconstructed_table